@import url('/css/colors.css');
@import url('/css/typography.css');
@import url('/css/nav.css');
@import url('/css/media.css');

/* DOCUMENT LAYOUT */

body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--default-font);
  font-weight: var(--default-font-weight);
  font-size: var(--default-font-size);
  background-color: var(--secondary-color-light);
}
