/* MEDIA QUERIES */

@media screen and (max-width: 320px) {
  .nav img {
    display: none;
  }
}

@media screen and (max-height: 700px) {
  .sidenav header {
    height: 130px;
  }
  .sidenav header .followers {
    font-size: var(--small-font-size);
    padding-top: 0.5rem;
  }
  .sidenav header .followers .follower-number {
    font-size: var(--default-font-size);
  }
  .sidenav header .account {
    padding-top: 0.5rem;
  }
  .sidenav .list-group .list-group-item {
    font-size: var(--small-font-size);
    padding: 0.5rem 2.5rem;
  }
  .sidenav .btn-group {
    padding: .5rem;
  }
  .sidenav .btn-group .btn {
    font-size: var(--small-font-size);
    padding: 0.25rem 0.5rem;
  }
  .sidenav .btn-group .btn-active {
    font-size: var(--small-font-size);
  }
}

@media screen and (max-height: 480px) {
  .sidenav .btn-group {
    padding: .25rem;
  }
  .sidenav .list-group .list-group-item {
    padding: 0.25rem 2.5rem;
  }
}
