/* NAV LAYOUTS */


/* NAVBAR */

.nav {
  background-color: var(--primary-color-dark);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  overflow: hidden;
  display: block;
  padding: .25rem .5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.nav .nav-left {
  float: left!important;
  margin-left: auto;
  display: inline-flex;
  align-items: center;
}

.nav .nav-right {
  float: right!important;
  margin-left: auto;
  display: inline-flex;
  align-items: center;
}

.nav div a {
  display: inline-block;
  color: white;
  text-align: center;
  align-items: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: var(--default-font-size);
}

.nav div a:hover {
  background-color: var(--primary-color);
}

.nav div .navbar-brand {
  display: inline-flex;
  font-size: var(--large-font-size);
}

.nav img {
  display: inline-flex;
  align-items: center;
  max-width: 3rem;
  vertical-align: middle;
}


/* SIDENAV */

.sidenav {
  height: 100%;
  width: 0;
  /* 0 width - change this with app.js */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--secondary-color-dark);
  overflow-x: hidden;
  transition: 0.25s linear;
}

.sidenav header {
  padding: .5rem;
  left: 0;
  width: 225px;
  text-decoration: none;
  font-size: var(--default-font-size);
  background-color: var(--primary-color);
  color: white;
  position: absolute;
  height: 148px;
}

.sidenav header .close {
  font-size: var(--double-font-size);
  text-decoration: none;
  color: white;
  float: right;
}

.sidenav header .close:hover {
  background-color: var(--primary-color-light);
}

.sidenav header .avatar {
  font-size: var(--quad-font-size);
  text-decoration: none;
  color: white;
}

.sidenav header .followers {
  font-size: var(--small-font-size);
  padding-top: 1rem;
}

.sidenav header .followers .follower-number {
  font-size: var(--default-font-size);
  font-weight: 500;
}

.sidenav header .account {
  font-size: var(--default-font-size);
  padding-top: 0.5rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sidenav header .account a {
  text-decoration: none;
  color: white;
}

.sidenav .list-group {
  margin-top: 148px;
  padding: 0.5rem 0;
  display: block;
  flex-wrap: nowrap;
  flex-direction: column;
  position: absolute;
}

.sidenav .list-group .list-group-item {
  padding: 1rem 2.5rem;
  text-decoration: none;
  font-size: var(--default-font-size);
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  position: relative;
  width: 100%;
}

.sidenav .list-group .active {
  background-color: var(--primary-color-light);
}

.sidenav .list-group .list-group-item:hover {
  background-color: var(--primary-color-light);
}

.sidenav .list-group .list-group-item :first-child {
  margin-right: 2rem;
  max-width: 1.5rem;
}

.sidenav .btn-group {
  margin-top: 650px;
  margin-left: 80px;
  position: absolute;
  display: flex;
  padding: 1rem;
  align-items: center;
}

.sidenav .btn-group .btn {
  color: white;
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: var(--default-font-size);
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
  background-color: transparent;
}

.sidenav .btn-group .btn-active {
  background-color: var(--night-accent-green);
  color: black;
}


/* SIDENAV DROPDOWN */

.dropbtn {
  background-color: var(--primary-color-dark);
  color: white;
  padding: 0px;
  border-radius: 25%;
  font-size: var(--default-font-size);
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: var(--primary-color-light);
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black !important;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropdown-content a:hover {
  background-color: var(--secondary-color-light)
}

.show {
  display: block;
}
