$primary-color: #607d8b;
$primary-color-light: #8eacbb;
$primary-color-dark: #34515e;
$secondary-color: #b0bec5;
$secondary-color-light: #e2f1f8;
$secondary-color-dark: #808e95;
$night-primary-color: #37474f;
$night-primary-color-light: #62727b;
$night-primary-color-dark: #102027;
$night-secondary-color: #607d8b;
$night-secondary-color-light: #8eacbb;
$night-secondary-color-dark: #34515e;

body {
  font-family: Roboto, Helvetica, san-serif;
  background-color: $secondary-color;
}

.navbar {
  background-color: $primary-color-dark;
  i {
    color: white;
  }
  .navbar-brand {
    color: white;
  }
}

header nav img {
  max-width: 64px;
}
