nav {
  background-color: #34515e;
}
nav .nav-wrapper .brand-logo i {
  margin-left: 16px;
}
nav .nav-wrapper a span {
  font-size: 20px;
}
nav .nav-wrapper img {
  max-width: 64px;
  margin: auto;
}
