:root {
  --primary-color: #607d8b;
  --primary-color-light: #8eacbb;
  --primary-color-dark: #34515e;
  --secondary-color: #b0bec5;
  --secondary-color-light: #e2f1f8;
  --secondary-color-dark: #808e95;
  --night-primary-color: #37474f;
  --night-primary-color-light: #62727b;
  --night-primary-color-dark: #102027;
  --night-secondary-color: #607d8b;
  --night-secondary-color-light: #8eacbb;
  --night-secondary-color-dark: #34515e;
  --accent-green: #009688;
  --accent-red: #CC284F;
  --night-accent-green: #80CBC4;
  --night-accent-red: #C95D77;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Helvetica, san-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: var(--secondary-color);
}

body {
  margin: 0;
}

.nav {
  background-color: var(--primary-color-dark);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  overflow: hidden;
  display: block;
  padding: .25rem .5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.nav .nav-left {
  float: left!important;
  margin-left: auto;
  display: inline-block;
}

.nav .nav-right {
  float: right!important;
  margin-left: auto;
  display: inline-block;
}

.nav div a {
  display: inline-block;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
}

.nav div a:hover {
  background-color: var(--primary-color);
}

.nav div .navbar-brand {
  font-size: 1.25rem;
  vertical-align: middle;
}

.nav img {
  display: inline-block;
  max-width: 3rem;
  vertical-align: middle;
}

@media screen and (max-width: 320px) {
  .nav img {
    display: none;
  }
}
