@import 'colors';

body {
  font-family: Roboto, Helvetica, san-serif;
  background-color: $secondary-color;
}

.navbar {
  background-color: $primary-color-dark;
  i {
    color: white;
  }
  .navbar-brand {
    color: white;
  }
}

header nav img {
  max-width: 64px;
}

.bmd-layout-drawer {
  background-color: $secondary-color-dark;
  color: white;
  ul a img {
    max-width: 24px;
  }
  .list-group {
    .list-group-item:hover, .active {
      background-color: $primary-color-light; }
  }
  header {
    background-color: $primary-color;
    height: 172px;
    .avatar {
      font-size: 48px; }
    .followers {
      font-size: 12px;
      .follower-number {
        font-size: 14px;
        font-weight: 500; }
    }
    .account {
      display: flex;
      position: relative;
      flex-direction: row;
      align-items: center;
      width: 100%;
      .dropdown {
        margin-left: auto; }
    }
  }
  .btn-group {
    margin-left: auto;
    .btn {
      color: white; }
    .active {
      background-color: $primary-color-light;
      color: white; }
  }
}
